{% extends 'base.html' %}

{% block title %}New item{% endblock %}

{% block footer %}
<script>
	window.onload = function getTodayDate() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		
		if(dd<10) {
			dd = '0'+dd
		} 
		
		if(mm<10) {
			mm = '0'+mm
		} 
		
		today = yyyy + '-' + mm + '-' + dd;
		
		document.getElementById("inputDate").defaultValue = today;
	}
</script>

<script>
	
	$(document).ready(function(){
		
		$("#formItem").validate({
			rules: {
				name: "required",
				date: {
					required: true,
					dateISO: true
				},
				category: {
					required: true,
					remote: '/category/validate-category'
					},
				amount: {
					required: true,
					number: true,
					min: 0.01
				}
			},
			messages: {
					category: {
						remote: 'This category is not set'	
					}
				}
		});
	});
	
</script>

{% endblock %}


{% block body %}

<h1>New item</h1>

{% if moneyFlow.errors is not empty %}
<p>Errors:</p>
<ul>
	{% for error in moneyFlow.errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}


<form method="post" action="/item/create" id="formItem">
	
	<div class="form-group">
		<label for="inputName">Name{{ a }}</label>
		<input id="inputName" name="name" placeholder="Name" autofocus required class="form-control" 
		{% if moneyFlow.name is not empty %}
			value= "{{ moneyFlow.name }}"
		{% else %} 
			{% if type == 'expense' %} 
				value="Expense" 
			{% else %} 
				value="Income" 
			{% endif %}
		{% endif %}/>
	</div>
	
	<div>
		<input type="hidden" id="type" name="type" value="{{ type }}">
	</div>
	<div class="form-group">
		<label for="inputCategory">Category:</label>
		
		<select name="category" id="inputCategory" class="form-control" value="{{ moneyFlow.category }}">
			{% for category in categories %}
			<option>{{ category }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="inputAmount">Amount [PLN]:</label>
		<input id="inputAmount" name="amount" type="number"
		{% if moneyFlow.amount is not empty %}
			value= "{{ moneyFlow.amount }}"
		{% else %} 
			value="0.0"
		{% endif %}
		step="0.01" min="0" class="form-control" />
	</div>
	<div class="form-group">
		<label for="inputDate">Date:</label>
		<input type="date"  id="inputDate" name="date" value="{{ moneyFlow.date }}" class="form-control" />
		
	</div>
	<div class="form-group">
		<label for="name">Description:</label>
		<input type="text" id="inputDescription" name="description" value="{{ moneyFlow.description }}" maxlength="280" class="form-control">
	</div>
	
	
	
	<button type="submit" class="btn btn-default">Create</button>
	
	</form>
	
	{% endblock %}
