{% extends "base.html" %}

{% block title %}Category show{% endblock %}

{% block footer %}
<script type="text/javascript">
	$( document ).ready(function() {
		var pathname = $(location).attr('pathname');

		if (pathname == '/category/show-expense'){
			$('#menuShowExpenseCat').removeClass('text-dark');
			$('#menuShowExpenseCat').addClass('text-secondary');
			}
		if (pathname == '/category/show-income'){
			$('#menuShowIncomeCat').removeClass('text-dark');
			$('#menuShowIncomeCat').addClass('text-secondary');
			}
	});
</script>
{% endblock %}

{% block body %}

<h1 class="d-none">Category show</h1>


<div class="row">
	<div class="col-lg-4 col-2"></div>
	<div class="col-lg-4 col-8 list-group mt-5">
		{% if categories is not empty %}
		{% for category in categories %}
		<div class="col-12 list-group-item list-group-item-action " aria-current="true">
			<div class="row d-flex">
				<div class="col-2">
					<svg class="bi d-block {{ type }}" width="32" height="32"><use xlink:href="#graph-{{ type }}"/></svg>
				</div>
				<div class="col-6 col-sm-7">
					<h6 class="mb-0">{{ category }}</h6>
				</div>
				<div class="col-4 col-sm-3">
					<div>
						<form method="get" action="/category/rename">
							<input type="hidden" id="name" name="name" value="{{ category }}">
							<input type="hidden" id="type" name="type" value="{{ type }}" />
							<button type="submit" class="btn btn-default mx-1 my-1"><svg class="bi d-block my-1 flex-shrink-0" width="20" height="20"><use xlink:href="#edit"/></svg></button>
						</form>
						<form method="get" action="/category/confirm-delete" id="formItem">
							<input type="hidden" id="name" name="name" value="{{ category }}">
							<input type="hidden" id="type" name="type" value="{{ type }}" />
							<button type="submit" class="btn btn-default mx-1 my-1"><svg class="bi d-block my-1 flex-shrink-0" width="20" height="20"><use xlink:href="#trash"/></svg></button>
						</form>
					</div>
				</div>
				
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<div class="col-12 list-group-item list-group-item-action " aria-current="true">
			<form method="post" action="/category/new" id="formItem" class="row d-flex">
				<div class="col-2">
					<svg class="bi d-block" width="32" height="32"><use xlink:href="#graph-down-arrow"/></svg>
				</div>
				<div class="col-6 col-sm-7">
					<label class="form-label h6" for="newCategory">New item:</label>
					<input type="text" id="name" name="name" class="form-control my-3" />
					<input type="hidden" id="type" name="type" value="{{ type }}" />
				</div>
				<div class="col-4 col-sm-3">
					<button type="submit" class="btn btn-default">Add</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-4 col-2"></div>
</div>




{% endblock %}
