{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}

<script src="/js/app.js"></script>
<script>

	$(document).ready(function(){
	
		$("#formSignup").validate({
			rules: {
				name: "required",
				email: {
					required: true,
					email: true,
					remote: '/account/validate-email'
				},
				password: {
					required: true,
					minlength: 6,
					validPassword: true					
				}
			},
			messages: {
				email: {
					remote: 'Email already taken'	
				}
			}
		});

	
	});

</script>

<script>
	function togglePassword() {
		var x = document.getElementById("inputPassword");
		if (x.type === "password") {
			x.type = "text";
			} else {
			x.type = "password";
		}
	}
</script>


{% endblock %}


{% block body %}

<h1 class="d-none">Sign up</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
	{% for error in user.errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}


<div class="form-start w-100 m-auto py-5">
	<form method="post" action="/signup/create" id="formSignup">
		<div class="text-center">
			<svg class="bi me-2" width="70" height="70" role="img" aria-label="Pig"><use xlink:href="#pig"/></svg>
			<h1 class="h3 mb-3 fw-normal">Please sign up</h1>
		</div>
		<div class="form-floating">
			<input style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;" id="inputName" name="name" placeholder="John Doe" value="{{ user.name }}"  required class="form-control">
			<label for="inputName">Name</label>
		</div>
		<div class="form-floating">
			<input style="margin-bottom: -1px; border-radius: 0;" type="email" name="email" placeholder="email address" class="form-control" value="{{ user.email }}" required id="inputEmail" />
			<label for="inputEmail">Email address</label>
		</div>
		<div class="form-floating ">
			<input style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;" type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" required>
			<label for="inputPassword">Password</label>
		</div>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" onclick="togglePassword()"> Show Password
			</label>
		</div>
		
		<button class="w-100 btn btn-lg btn-outline-dark" type="submit">Sign up</button>
		<a class="w-100 btn btn-lg btn-dark my-2" href="/password/forgot">Forgot password?</a>
		<a class="" href="/login">Log in</a>

	</form>
</div>

{% endblock %}
