/* General Website Style rules */
.form-start {
	max-width: 330px;
	padding: 15px;
}

.form-start .form-floating:focus-within {
  z-index: 2;
}

label.error{
	margin-left: 300px;
	margin-top: 10px;
	display: block;
	color: #ff0000;
}

#inputAmount-error{
	margin-left:10px;
}

.expense {
	fill: red;
}

.income {
	fill: green;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
