<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/bootstrap/bootstrap.css" crossorigin="anonymous" /> 
	<link rel="stylesheet" href="/css/styles.css"/>
	
</head>
<body>
	
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light">
			<div class="container-fluid">
				<ul class="navbar-nav mr-auto" >
					<li class="nav-item"><a href = "/" class="nav-link" >Home</a></li>
				</ul>
				<ul class="navbar-nav mr-auto navbar-right" >
					{% if current_user %}
						<li class="nav-item"><a href = "/profile/show" class="nav-link" >Profile</a></li>
						<li class="nav-item"><a href = "/item/new-expense" class="nav-link" >New expense</a></li>
						<li class="nav-item"><a href = "/item/new-income" class="nav-link" >New income</a></li>
						<li class="nav-item"><a href = "/item/show" class="nav-link" >Show bilans</a></li>
						<li class="nav-item"><a href = "/category/show-expense" class="nav-link" >Show expense categories</a></li>
						<li class="nav-item"><a href = "/category/show-income" class="nav-link" >Show income categories</a></li>
						<li class="nav-item"><a href = "/logout" class="nav-link" >Log Out</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
		
		
		{% for message in flash_messages %}
			<div class = "alert alert-{{ message.type }}">
				{{ message.body }}
			</div>
		{% endfor %}
		
		{% block body %}
		{% endblock %}
	</div>
	
	<script	src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
	<script src="/bootstrap/bootstrap.bundle.js"></script>

    {% block footer %}
    {% endblock %}
	
</body>
</html>
