<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Skarbonka</title>
		<meta name="description" content="Application for household budget accounting">
		<meta name="author" content="Mateusz Nowakowski">
		<meta http-equiv="X-Ua-Compatible" content="IE=edge">
		
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="/bootstrap/bootstrap.css" crossorigin="anonymous" /> 
		
		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="/css/styles.css"/>
		
		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		
	</head>
	<body>
		{% include 'svg.html' %}
		
		<header>
			<nav class=" px-3 py-2 bg-light text-white">
				
				<div class="container">
					<div class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start border-bottom">
						<a href="/" class="d-flex align-items-center my-2 my-xl-0 me-xl-auto text-dark text-decoration-none">
							<svg class="bi me-2" width="50" height="50" role="img" aria-label="Pig"><use xlink:href="#pig"/></svg>
							<h5 class="h3 d-inline-block align-center">Piggy bank</h5>
						</a>
						
						<ul class="nav col-12 col-xl-auto row-cols-2 row-cols-sm-4 row-cols-xl-auto my-2 justify-content-center my-md-0 text-small">
							{% if current_user %}
							<li class="nav-item text-center col menu-tile">
								<a href="/" id="menuHome" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
									Home
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/item/new-expense" id="menuNewExpense" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#lost-money"/></svg>
									New expense
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/item/new-income" id="menuNewIncome" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#earn-money"/></svg>
									New income
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/item/show?page=1&sort=date-desc" id="menuShowBalance" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
									Show balance
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/category/show-expense" id="menuShowExpenseCat" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#clipboard-minus"/></svg>
									Show expense<br>categories
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/category/show-income" id="menuShowIncomeCat" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#clipboard-plus"/></svg>
									Show income<br>categories
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/profile/show" id="menuProfile" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
									Profile
								</a>
							</li>
							<li class="nav-item col text-center">
								<a href="/logout" class="nav-link text-dark">
									<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#door-open"/></svg>
									Log out
								</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<main>
			<div class="container" >
				{% for message in flash_messages %}
				<div class = "alert alert-{{ message.type }}">
					{{ message.body }}
				</div>
				{% endfor %}
				
				{% block body %}
				{% endblock %}
				
			</div>
			<div class="py-4">
			</div>
			<div class="px-3 bg-light text-white">
				<div class="container" >
					<footer class="navbar fixed-bottom bg-light d-flex flex-wrap justify-content-center align-items-center ">
						<div class="container">
							<div class="border-top col-12"></div>
						</div>
						
						<div class="col-md-4 d-flex align-items-center">
							<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
								<svg class="bi" width="30" height="24"><use xlink:href="#pig"/></svg>
							</a>
							<span class="mb-3 mb-md-0 text-muted">&copy; 2022 Mateusz Nowakowski</span>
						</div>
						
						<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
							<li class="ms-3"><a class="d-none text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
							<li class="ms-3"><a class="d-none text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
							<li class="ms-3"><a class="d-none text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
						</ul>
					</footer>
				</div>
			</div>
		</main>
		
		
		<script src="/bootstrap/bootstrap.bundle.js"></script>
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
		{% block footer %}	{% endblock %}

	</body>
	</html>
